#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

textarea {
  padding: 20px;
  border-radius: 10px;
}

.card {
  padding: 2em;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content 1fr;
  gap: 20px 20px;

  width: min(1000px, 90vw);
}

.glish-arrow {
  position: absolute;
  left: -2ch;
}

@media screen and (max-width: 600px) {
  .App {
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content 1fr;
  }
  textarea.input {
    height: 250px;
  }

  .glish-arrow {
    position: static;
  }
  h1 {
    margin: 5px;
  }
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Virgil";
  src: url("Virgil.woff2") format("woff2");
}

.legend {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.english-input {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: Virgil;
  margin-bottom: 10px;
}

.input {
  height: 1000px;
  max-height: 60vh;
}
.result {
  white-space: pre-wrap;
  display: flex;
  flex-direction: row;
  gap: 1ch 0.5ch;
  flex-wrap: wrap;
  height: min-content;
}
.input,
.result {
  font-size: 18pt;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.translated.mono {
  opacity: 1;
  font-weight: bold;
}
.translated.oneSyllable {
  opacity: 0.9;
}
.translated.unknown {
  opacity: 0.5;
  color: red;
}
.translated.newline {
  width: 100%;
  height: 0px;
}
.orig {
  opacity: 0.8;
  font-size: 80%;
}

.leftright {
  margin: 10px;
  display: flex;
  width: 100%;
  gap: 20px;
}
.leftright div {
  max-width: calc(100% - 50px);
}

.converted-byline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
}
